// Body
$body-bg: #f8fafc;

// Typography
$abel: 'Abel', sans-serif;
$jose: 'Josefin Sans', sans-serif;

$font-family-sans-serif: $abel;
$font-size-base: 1rem;
$line-height-base: 1.6;

$headings-font-family: $jose;

// Color variables
$primary: #fa7766;
$secondary: #fca379;

$container-max-widths: (
    sm: 540px,
    md: 700px,
    lg: 900px,
    xl: 1100px,
    xxl: 1200px
);