/*
*****************
** General
*****************/

/*****************
** HEADER
*****************/

#header {
    display: none;
}

#offcanvasNavbar {
    visibility: visible;
    transform: translateX(-160px);
    text-align: right;
    z-index: 99;

    .btn-close {
        display: none;
    }
    .offcanvas-logo {
        margin-left: auto;
        margin-right: 0;
        height: 75px;
        display: flex;
        align-items: center;
        transition: all ease .3s;

        img {
            max-width: 25px;
            transition: all ease .3s;
        }
    }
    .offcanvas-header {
        padding: .75rem .5rem;
    }
    .offcanvas-body {
        padding: .75rem 0;
    }
    #navMain {

        .nav-item {

            .nav-link {
                padding: .5rem;
                border-radius: 0;

                &:hover {
                    //background: $blue-500;
                    background: $primary;
                    color: white;

                    i {
                        color: white;
                    }
                }
                
                span {
                    order: 1;
                    margin-left: 0;
                    margin-right: .75rem;
                    text-align: left;
                }
                i {
                    order: 2;
                    display: flex;
                }
            }
        }
    }
    #accountDropdown {
        padding-right: 32px;
        padding-left: .5rem;
    }

    &:hover {
        transform: translateX(0px);

        .offcanvas-logo {
            margin-right: 54px;
    
            img {
                max-width: 75px;
            }
        }
    }
}

/*****************
** ENTRY STYLES
*****************/

.submit-card {
    position: sticky;
    top: 50px;
}