/*
** 992+ Stylesheet
*****************
** General
*****************/

.container-smwrap {
    max-width: 900px!important;
}

/*****************
** LOGIN PAGE
*****************/

.login-page, .register-page {
    min-height: calc(100vh - 3rem);
    display: flex;
    align-items: center;

    .login-form, .register-form {
        flex: 1;
        margin-bottom: 5rem;
    }
}

/*****************
** UNLOCK VIEWING PAGE
*****************/

#unlock-view {

    .entry-wrapper {
        min-height: calc(100vh - 3rem);
        display: flex;
        align-items: center;
        justify-content: center;

        .entry-inner {
            flex: 1;
        }
    }
}