/*
** 992+ Stylesheet
*****************
** General
*****************/

.container-smwrap {
    max-width: 900px!important;
}

/*****************
** LOGIN PAGE
*****************/

.login-page, .register-page {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .login-form, .register-form {
        flex: 1;
        margin-bottom: 5rem;
    }
}