/*
** Base Stylesheet
*****************
** General
*****************/

#app {
    min-height: 100vh;
    position: relative;

    .vault-splash {
        position: absolute;
        width: 300px;
        height: 300px;
        bottom: 0;
        right: 0;
        background: url('../images/logo-icon.svg') 100px 100px no-repeat;
        opacity: .2;
        background-size: contain; 
        z-index: -1;
    }
}

.bi {
    vertical-align: middle;
}

iframe, img {
    max-width: 100%;
}

.sm-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.md-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    color: white;
}

/*****************
** HEADER
*****************/

#header {

    .navbar-toggler {
        border-radius: 6px;
        border-width: 3px;
        padding: 2px 6px;
    }
    .navbar-brand {

        img {
            max-width: 60px;
        }
    }
    .navbar-add {
        font-size: 38px;
        color: $green-400;
        margin-left: auto;
        margin-right: 1rem;
    }
}

#offcanvasNavbar {
    max-width: 200px;

    .offcanvas-logo {
        img {
            max-width: 60px;
        }
    }
    #navMain, #navMainBottom {

        .nav-item {

            .nav-link {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                padding: .75rem 0;
                font-family: $jose;
                color: $dark;

                span {
                    flex: 1;
                    margin-left: .5rem;
                }
                i {
                    font-size: 1.5rem;
                    //color: $green-400;
                    color: $secondary;
                    line-height: 1;
                }
            }
        }
    }
}

/*****************
** LOGIN/REGISTER PAGE
*****************/

.logo-section {
    text-align: center;

    img {
        max-width: 150px;
    }
}

.register-form {
    .logo-section {

        img {
            max-width: 100px;
        }
    }
}

/*****************
** VAULT PAGE
*****************/

.vaults-list {

    h2 {

        .btn {
            font-family: $abel;
        }
    }
}

.vault {

    .vault-inner {

        .card-image-top {
            background-size: auto 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f8fafc;
            background-image: url('../images/logo-icon.png');
            opacity: .5;
            height: 250px;
        }
        .card-image-top-custom {
            background-size: cover;
            opacity: 1;
        }
        .card-body {
            position: relative;

            .vault-settings {
                position: absolute;
                z-index: 5;
                top: 10px;
                right: 10px;
                line-height: 1;
            }
        }
    }
}

.vault-photo-upload {

    #imageUploadLabel {
        border: 1px solid #ced4da;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .375rem;
        color: $primary;
        background: #f8fafc;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        .upload-icon {
            font-size: 3rem;
        }
    }
    .iul-holdheight {
        min-height: 300px;
    }
    #imageUpload {
        display: none;
    }

}

.info-group {
    margin-bottom: 2.5rem;

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
}

.unlock-local, .unlock-remote {
    text-align: center;
    background: $primary;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
    position: relative;
    transition: all ease .8s;
    max-width: 210px;
    width: 100%;
    margin: 0 auto;

    h5 {
        margin: 0;
        color: white;
        background: $secondary;
        padding: .75rem .5rem;
        border-radius: 0 0 6px 6px;
    }

    &:hover {
        transform: scale(1.05);
        .unlock-icon {
            transform: rotateZ(180deg);
            .bi {
                transform: rotateZ(-180deg);
            }
        }
    }
    .unlock-icon {
        position: relative;
        background: white;
        width: 108px;
        height: 108px;
        font-size: 1.5rem;
        border: 4px solid $secondary;
        border-radius: 54px;
        color: $primary;
        margin: 2.5rem auto;
        transition: all ease .8s;
        transform: rotateZ(0deg);

        .bi {
            position: absolute;
            line-height: 1;
            transition: all ease .8s;
            transform: rotateZ(0deg);
        }
        .ul1 {
            right: 5px;
            top: 38px;
        }
        .ul2 {
            bottom: 5px;
            left: 38px;
        }
        .ul3 {
            left: 5px;
            top: 38px;
        }
        .ul4 {
            top: 5px;
            left: 38px;
        }
        .ul5 {
            left: 38px;
            top: 38px;
        }
    }
}

.unlock-remote-wrapper {

    h6 {
        margin: 1rem 0 0;
    }
}
.unlock-remote {
    opacity: .5;

    .unlock-icon {
        
        .ul1 {
            right: 7px;
            top: 38px;
        }
        .ul2 {
            bottom: 7px;
            left: 38px;
        }
        .ul3 {
            left: 7px;
            top: 38px;
        }
        .ul4 {
            top: 7px;
            left: 38px;
        }
        .ul5 {
            left: 38px;
            top: 38px;
        }
    }
}


/*****************
** INVITE STYLES
*****************/

.vault-invite {

    .vault-invite-inner {

        h2, h6 {
            margin: 0;
        }
        .vault-invite-byline {
            line-height: 1;

            span {
                font-size: .875rem;
            }
        }
        .vault-invite-expires {
            margin: .75rem 0 0;
            font-size: .875rem;
        }
    }
}

.vault-invite-guest {
    margin-top: 2rem;
    text-align: center;
    max-width: 500px;

    hr {
        max-width: 150px;
        margin: 1rem auto;
    }
    .vault-invite {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    .login-register-wrapper {
        max-width: 300px;
        margin: 0 auto;

        .btn {
            width: 100%;
        }
    }
}

/*****************
** ENTRY STYLES
*****************/

.entry-card {

    #entryContent {
        height: 140px;
    }

}

.image-upload-wrapper {

    #imageUpload {
        display: none;
    }
    #uploadPreviews {

        .image-upload {
            position: relative;

            .image-spinner-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items:center;
                justify-content: center;
                z-index: 1;
            }
            .image-upload-preview {
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 150px;
                border: 1px solid $gray-400;
                z-index: 5;
            }
            .image-upload-delete {
                position: absolute;
                top: 5px;
                right: 16px;
                color: $danger;
                cursor: pointer;
                font-size: 22px;
                opacity: .5;
                transition: opacity .4s ease;
                z-index: 6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#vaultSelect {

    .vault-select-vaults {

        .vault-select-vault-inner {
            border-radius: 12px;
            display: flex;
            align-items: center;
            overflow: hidden;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);

            .vault-button {
                align-self: stretch;

                .btn {
                    padding: 1.5rem .75rem;
                    border-radius: 0;
                }
            }
        }
        .vault-name {

            h4 {
                margin: 0 1rem;
                line-height: 1;
            }
        }
    }
}

/*****************
** USER PAGE
*****************/

.basic-info {
    .info-group {
        margin: 0 0 2rem 0;
    }
}

.name-update-icon {
    cursor: pointer;
}

/*****************
** LOCAL UNLOCK PAGE
*****************/

.unlock-auth {

    .ua-inner {
        position: relative;
    }
    
    .unlock-success {
        transition: all ease .8s;
        visibility: hidden;
        font-size: 3rem;
        color: white;
        background: $success;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
    .ua-user {
        position: relative;
        transition: margin ease .8s, color ease .8s;
    }
}

.uauth-success {
    
    .unlock-success {
        display: flex;
        opacity: 1;
        visibility: visible;
    }
    .ua-user {
        color: white;
        margin-bottom: -2rem;
    }
}

/*****************
** UNLOCK VIEWING PAGE
*****************/

#unlock-view {

    .entry-wrapper {
        
        .entry-loading {
            position: absolute;
        }

        .entry-content-header {
            #entry-title {
                margin: .5rem 0;
            }
            #entry-date {
                background: $secondary;
                color: $dark;
                padding: 7px 1rem 5px;
                border-radius: 6px;
                display: inline-block;
                margin: .5rem 0;
            }
            #entry-author {
                margin: .5rem 0 1.5rem;
            }
        }
        
        #entry-content {
            font-size: 1.125rem;
            line-height: 1.75;
            font-weight: 500;
        }

        #entry-assets-placeholder {
            width: 100%;
            background: $dark;
            height: 400px;
        }
        

        #entry-assets {

            &:hover {
                .entry-assets-inner .slide-control {
                    opacity: 1;
                }
            }

            .entry-assets-inner {
                overflow: hidden;
                position: relative;

                .slide-control {
                    padding: 0px;
                    line-height: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -23px;
                    font-size: 40px;
                    z-index: 9;
                    opacity: 0;
                    transition: opacity ease .6s;
                }
                #prevSlide {
                    left: 16px;
                }
                #nextSlide {
                    right: 16px;
                }

                #entry-assets-wrapper {
                    display: flex;
                    flex-wrap: nowrap;
                    transition: transform ease .8s;
                    
                    .entry-assets-image {
                        flex: 1 0 100%;
                        height: 400px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }

    #entry-date, #entry-title, #entry-author, #entry-content, #entry-assets, #entry-map {
        transition: opacity ease .6s, transform linear 0s .5s;
        opacity: 0;
    }
    #entry-date, #entry-title, #entry-author, #entry-content {
        transform: translateY(50px);
    }

    .load-entry {
        #entry-date, #entry-title, #entry-author, #entry-content {
            transform: translateY(0px);
            opacity: 1;
        }
        #entry-date {
            transition: transform ease .7s, opacity ease .7s;
        }
        #entry-title {
            transition: transform ease .7s .1s, opacity ease .7s .1s;
        }
        #entry-author {
            transition: transform ease .7s .2s, opacity ease .7s .2s;
        }
        #entry-content {
            transition: transform ease .7s .3s, opacity ease .7s .3s;
        }

        #entry-assets, #entry-map {
            opacity: 1;
            transition: transform ease .8s 1s, opacity ease .8s 1s;
        }
    }
}